---
title: Elixir для рубистов
excerpt: Объясняем что такое Elixir для людей, знакомых с Ruby.
author: nadezhda
source_url: https://robots.thoughtbot.com/elixir-for-rubyists
source_title: Elixir for Rubyists
source_author: Tute Costa
public: true
tags: [overview, ruby]
---
<p>Создавая свой первый проект на&nbsp;языке Elixir, мыслями я&nbsp;всё еще находился с&nbsp;Ruby. Поначалу мне это не&nbsp;сильно мешало: оба языка программирования являются высокоуровневыми, имеют читабельный код и&nbsp;схожий синтаксис. С&nbsp;ними интересно работать. Сообщество отзывчивых разработчиков Elixir быстро набирало обороты и&nbsp;чем-то напомнило мне сообщество Ruby на&nbsp;заре фреймворка Rails.</p>

<p>Некоторые особенности Ruby соотносятся со&nbsp;схожими явлениями в&nbsp;Elixir:</p>
<table>
    <thead>
    <tr><th>
        <p><strong>Ruby</strong></p>
    </th> <th>
        <p><strong>Elixir</strong></p>
    </th></tr>
    </thead>
    <tbody>
    <tr>
        <td>
            irb
        </td>
        <td>
            iex
        </td>
    </tr>
    <tr>
        <td>
            rake tasks
        </td>
        <td>
            mix (встроенный)
        </td>
    </tr>
    <tr>
        <td>
            bundler
        </td>
        <td>
            mix (встроенный)
        </td>
    </tr>
    <tr>
        <td>
            binding.pry
        </td>
        <td>
            IEx.pry (встроенный)
        </td>
    </tr>
    <tr>
        <td>
            Полиморфизм
        </td>
        <td>
            Протоколы
        </td>
    </tr>
    <tr>
        <td>
            Lazy Enumerables
        </td>
        <td>
            Потоки
        </td>
    </tr>
    <tr>
        <td>
            Метапрограммирование
        </td>
        <td>
            Макросы (используются очень осторожно)
        </td>
    </tr>
    <tr>
        <td>
            Rails
        </td>
        <td>
            Phoenix
        </td>
    </tr>
    </tbody>
</table>

<p>На&nbsp;первый взгляд кажется, что языки несущественно отличаются по&nbsp;некоторому набору признаков. Например, код на&nbsp;Elixir выглядит немного более многословным, нежели на&nbsp;Ruby, названия модулей прописаны практически во&nbsp;всех вызовах функций. Модули, используемые внутри файла, явно в&nbsp;него подключаются. А&nbsp;состояние передаётся через функции в&nbsp;качестве аргумента. Расширить возможности языка можно с&nbsp;помощью макросов, однако в&nbsp;официальной документации Elixir <noindex><a href="http://elixir-lang.org/getting-started/meta/macros.html">постараются разубедить в&nbsp;необходимости их&nbsp;использования.</a></noindex></p>

<p>Elixir можно рассматривать в&nbsp;качестве Ruby для виртуальной машины Erlang, и&nbsp;подобного приближения вполне достаточно для небольших проектов. Хотя Elixir и&nbsp;напоминает Ruby, между этими двумя языками имеются существенные различия.</p>
<h2>Elixir&nbsp;&mdash; это Erlang в&nbsp;оболочке Ruby</h2>

<p>Программы на&nbsp;языке Elixir компилируются в&nbsp;код для виртуальной машины Erlang (BEAM). Язык Erlang, разработанный в&nbsp;1986 году компанией Ericsson, с&nbsp;1998 года является продуктом с&nbsp;открытым исходным кодом и&nbsp;поддерживается подразделением OTP (Open Telecom Program) компании Ericsson.</p>
<h3>Производительность</h3>

<p>Используя один лишь Erlang, команде разработчиков приложения WhatsApp удалось добиться того, чтобы один сервер смог обслуживать два миллиона TCP-соединений. Откуда такая производительность?</p>

<p>Виртуальная машина Erlang выглядит как один процесс операционной системы и&nbsp;по&nbsp;умолчанию запускает по&nbsp;одному потоку на&nbsp;каждом ядре. <strong>Программы на&nbsp;языке Elixir используют все ядра ЦП.</strong></p>

<p>Процессы в&nbsp;Erlang не&nbsp;имеют никакой связи с&nbsp;потоками и&nbsp;процессами операционной системы. Они являются легковесными, их&nbsp;можно быстро создать и&nbsp;уничтожить (т.е. количество изменяется динамически), объём потребляемой памяти невелик, ресурсы расходуются экономно. Erlang-приложение запускает более одного миллиона своих процессов, которые могут существовать в&nbsp;единственном процессе ОС. Эти процессы не&nbsp;имеют общего состояния, они взаимодействуют между собой посредством асинхронного обмена сообщениями. Такой подход превращает Elixir в&nbsp;первую общедоступную реализацию модели акторов.</p>

<p>Если процесс находится в&nbsp;ожидании сообщения (затерявшегося в&nbsp;блоке receive), он&nbsp;не&nbsp;помещается в&nbsp;очередь на&nbsp;исполнение до&nbsp;тех пор, пока сообщение не&nbsp;будет найдено. Именно поэтому на&nbsp;одном компьютере возможен ресурсоёмкий запуск миллионов по&nbsp;большей части бездействующих процессов.</p>

<p>Эффективность работы сборщика мусора в&nbsp;Erlang повышается за&nbsp;счёт следующих допущений. Каждая переменная иммутабельна. Это означает, что с&nbsp;момента создания переменной её&nbsp;значение остаётся постоянным. Значения копируются между процессами. Таким образом, процесс практически всегда имеет изолированную область памяти, а&nbsp;сборщик мусора у&nbsp;каждого отдельного процесса свой, что достаточно оперативно. Узнать подробнее о&nbsp;процессах и&nbsp;принципах работы сборщика мусора в&nbsp;Erlang можно в&nbsp;4&nbsp;разделе статьи Programming the Parallel World.</p>

<p>В&nbsp;двух словах, Erlang работает быстрее других платформ, потому что поддерживает иммутабельность переменных и&nbsp;использует модель изолированной памяти.</p>
<h3>Отказоустойчивость</h3>

<p>В&nbsp;основе архитектуры Erlang лежит модель системы без разделения ресурсов: каждая нода является независимой и&nbsp;самодостаточной. Программное обеспечение, написанное на&nbsp;Erlang, может быть построено так, чтобы оно было в&nbsp;состоянии поддерживать обновление без прерывания рабочих процессов и&nbsp;обеспечивать устойчивость к&nbsp;ошибкам.</p>

<p>Пересказав услышанные на&nbsp;подкасте The Changelog слова Жозе Валима, можно отметить, что отказоустойчивость в&nbsp;Erlang&nbsp;&mdash; это способность поддерживать систему в&nbsp;рабочем состоянии; разрыв связи с&nbsp;одним пользователем&nbsp;&mdash; <strong>вполне нормально</strong>, со&nbsp;всеми пользователями&nbsp;&mdash; <strong>уже проблема</strong>.</p>
<blockquote><em>В&nbsp;отличие от&nbsp;интернет-сервисов у&nbsp;телекоммуникационных компаний нет возможности позвонить каждому клиенту и&nbsp;оповестить его о&nbsp;перебоях связи между 6:00 и&nbsp;6:30&nbsp;утра. В&nbsp;такой системе всегда должна поддерживаться работоспособность.</em></blockquote>
<h3>Чистые функции</h3>

<p>Erlang&nbsp;&mdash; функциональный язык программирования. В&nbsp;функциональном программировании вычисление трактуется как определение значений функций при условии неизменности состояния и&nbsp;данных. Чистая функция демонстрирует функциональную прозрачность: вызовы функции можно заменить на&nbsp;возвращаемые ею&nbsp;значения без изменения семантики программы. Использовать чистые функции выгодно, поскольку они детерминированы, легче поддаются анализу и&nbsp;тестированию.</p>

<p>Единичное присваивание и&nbsp;неизменяемая структура данных Erlang только способствует созданию чистых функций. Анализируя различные объёмные кодовые базы Erlang, исследователи отнесли к&nbsp;чистым в&nbsp;среднем от&nbsp;30&nbsp;до&nbsp;50% его функций. Есть и&nbsp;нежелательные последствия: код можно динамически загружать и&nbsp;выгружать, что приводит к&nbsp;изменению переменных среды операционной системы.</p>

<p>В&nbsp;Ruby&nbsp;же можно обойтись без изолированного состояния. Значения можно изменять в&nbsp;любом месте программы (например, метод string.gsub!). Классическим примером нечистой функции может служить геттер: каждый раз, вызывая его с&nbsp;одними и&nbsp;теми&nbsp;же аргументами, в&nbsp;зависимости от&nbsp;внутреннего состояния объекта можно получить различные результаты.</p>
<h3>Другие особенности Erlang, доступные в&nbsp;Elixir</h3>
К ним относятся:
<ul style="margin-top: 10px;">
    <li>Распределенные вычисления</li>
    <li>Мягкое реальное время (черта, определяющая качество телекоммуникационных услуг)</li>
    <li>Высокая доступность</li>
    <li>Горячая замена кода</li>
</ul>

<h2>Собственные преимущества Elixir</h2>
<h3>Пайп-оператор</h3>

<p>Предположим, необходимо превратить заголовки всех постов блога в&nbsp;постоянные ссылки. Для заголовка наподобие ExMachina Hits&nbsp;1.0&nbsp;&mdash; More Flexible, More Useful and Support for Ecto&nbsp;2.0 постоянная ссылка должна быть такой exmachina-hits-1-0-more-flexible-more-useful-and-support-for-ecto-2-0.</p>

<p>Код на&nbsp;Ruby выглядит следующим образом:</p>

{% highlight elixir %}
title.
  downcase.
  gsub(/\W/, " "). # convert non-word chars (like -,!) into spaces
  split.    # drop extra whitespace
  join("-") # join words with dashes
{% endhighlight %}

<p>Вызов каждого из&nbsp;методов возвращает объект типа String или объект, реализующий Enumerable, следовательно, мы&nbsp;можем объединять эти методы в&nbsp;цепочку. Давайте дадим проделанным шагам какие-нибудь названия, чтобы не&nbsp;было необходимости комментировать каждую строчку. Но&nbsp;как сделать код похожим на&nbsp;такой?</p>

{% highlight elixir %}
text.
  downcase.
  replace_non_words_with_spaces.
  drop_extra_whitespace.
  join_with_dashes
{% endhighlight %}

<p>Чтобы этого достичь, нужно &laquo;проманкипатчить&raquo; класс String и&nbsp;определить в&nbsp;нём методы replace_non_words_with_spaces и&nbsp;drop_extra_whitespace, а&nbsp;для класса Enumerable сделать то&nbsp;же самое с&nbsp;методом join_with_dashes.</p>

<p>Теперь посмотрим, как всё это реализуется в&nbsp;языке Elixir. С&nbsp;точки зрения функционального подхода, код может выглядеть так:</p>

{% highlight elixir %}
Enum.join(
  String.split(
    String.replace(
      String.downcase(title), ~r/\W/, " "
    )
  ),
  "-"
)
{% endhighlight %}

<p>Его можно сделать более читабельным, используя локальные переменные:</p>

{% highlight elixir %}
downcased = String.downcase(title)
non_words_to_spaces = String.replace(downcased, ~r/\W/, " ")
whitespace_to_dashes = Enum.join(String.split(non_words_to_spaces), "-")
{% endhighlight %}

<p>Однако Elixir предлагает более идиоматический подход. Пайп-оператор может передать условие слева в&nbsp;качестве первого аргумента при вызове функции справа, что позволяет привести код к&nbsp;следующему виду:</p>

{% highlight elixir %}
title
|> String.downcase
|> String.replace(~r/\W/, " ")
|> String.split
|> Enum.join("-")
{% endhighlight %}

<p>Каждый шаг можно обозначить с&nbsp;помощью &laquo;говорящего&raquo; названия функции:</p>

{% highlight elixir %}
title
|> downcased
|> non_words_to_spaces
|> whitespace_to_dashes
{% endhighlight %}

<p>В&nbsp;Ruby существуют две реализации композиций функций, схожих с&nbsp;пайп-оператором. Фабио Акита разработал пакет chainable_methods (RubyGem), методы которого умеют привязывать значение к&nbsp;объекту так&nbsp;же, как это делает пайп-оператор. Чтобы получить окончательный результат, необходимо вызвать unwrap в&nbsp;качестве последнего метода. Майк Бёрнс представил пакет method_missing (RubyGem), позволяющий связывать функции посредством оператора *.</p>
<h3>Оператор сопоставления =</h3>

<p>Оператор = в&nbsp;Elixir называется оператором сопоставления. Он&nbsp;позволяет назначать и&nbsp;сравнивать значения. Рассмотрим такой код:</p>

{% highlight elixir %}
iex> {a, b, 42} = {:hello, "world", 42}
{:hello, "world", 42}
iex> a
:hello
iex> b
"world"
iex> :hello = a
:hello
iex> "world" = a
** (MatchError) no match of right hand side value: :hello
{% endhighlight %}

<h3>Сопоставление с&nbsp;образцом и&nbsp;составные условия функций</h3>

<p>Сопоставление с&nbsp;образцом позволяет сравнивать простые значения, структуры данных и&nbsp;даже функции. В&nbsp;объявлении функций могут присутствовать охранные и&nbsp;составные условия. Если тело функции содержит несколько условий, Elixir будет перебирать их&nbsp;все, пока не&nbsp;выполнится условие сопоставления.</p>

<p>Рассмотрим пример. Пусть необходимо добавить имя активного класса к&nbsp;элементу li&nbsp;только в&nbsp;том случае, если указанный документ совпадет с&nbsp;тем, в&nbsp;котором в&nbsp;данный момент осуществляется перебор. Код будет следующим (@conn.assigns напоминает многомерный хэш).</p>

{% highlight erb %}
<%= for document <- documents do %>
  <li class="<%= active_class(@conn.assigns, document.id) %>">
    <%= document.title %>
  </li>
<% end %>
{% endhighlight %}

<p>Типовая реализация класса active_class включает условие, проверяющее наличие аргумента в&nbsp;списке (в&nbsp;Ruby оно выглядит так: enumerable.include?(item)). На&nbsp;Elixir получаем следующее:</p>

{% highlight elixir %}
def active_class(%{document: %{id: id}}, id), do: "active"
def active_class(_, _), do: ""
{% endhighlight %}

<p>В&nbsp;приведенном листинге проводится сопоставление хэша и&nbsp;ключа document; далее, если он&nbsp;имеется в&nbsp;хэше, то&nbsp;проводится сопоставление по&nbsp;id. Условие в&nbsp;теле функции содержит тот&nbsp;же id&nbsp;в&nbsp;качестве второго аргумента, и, когда он&nbsp;совпадет с&nbsp;запрашиваемым, возвращается строка &laquo;active&raquo;. Второе условие выполняется для любого другого случая, возвращая пустую строку.</p>

<p>Сопоставление с&nbsp;образцом позволяет избежать использования традиционных управляющих конструкций. Программы состоят из&nbsp;множества небольших функций, определённых с&nbsp;использованием охранных условий и&nbsp;сопоставления с&nbsp;образцом, которые обеспечивают надлежащее поведение, основанное на&nbsp;соответствии аргументов. В&nbsp;итоге код приобретает более декларативный окрас.</p>
<h3>Макросы</h3>

<p>Еще одна отличительная черта Elixir по&nbsp;сравнению с&nbsp;Erlang&nbsp;&mdash; это наличие средств метапрограммирования, но&nbsp;это уже отдельная достаточно обширная тема.</p>
<h2>В&nbsp;каком случае Elixir подходит больше, чем Ruby?</h2>

<p>Думаю, Elixir и&nbsp;Ruby взаимозаменяемы для написания несложных веб-приложений с&nbsp;низким трафиком и&nbsp;невысокими требованиями по&nbsp;части времени отклика.</p>

<p>Некоторых разработчиков привлекает наличие в&nbsp;Elixir проверки на&nbsp;этапе компиляции. Будучи приверженцем техники TDD и&nbsp;средств обеспечения высокого качества кода, я&nbsp;не&nbsp;вижу существенной разницы между стоимостью поддержки небольшого или среднего проекта и&nbsp;выбором языка программирования для его разработки.</p>

<p>Тем не&nbsp;менее для создания некоторых приложений выбор Elixir является технически наиболее выгодным.</p>
<h3>Масштабируемость</h3>

<p>Elixir справляется с&nbsp;этим лучше, чем Ruby. Фреймворк Phoenix в&nbsp;10&nbsp;раз производительнее того&nbsp;же Rails, а&nbsp;это означает, что задумываться о&nbsp;хостинге или кэшировании при разработке на&nbsp;Elixir, можно немного позднее.</p>

<p>Процессы в&nbsp;Elixir определяются по&nbsp;ноде и&nbsp;идентификатору. Перекинуть процесс на&nbsp;другой хост&nbsp;&mdash; всё равно что создать новый на&nbsp;уже имеющемся. Так или иначе процессы и&nbsp;хосты в&nbsp;Elixir работают изолированно, тогда как добиться такого эффекта в&nbsp;Ruby&nbsp;&mdash; требует от&nbsp;разработчика определенных усилий.</p>

<p>Деревья супервизоров и&nbsp;способность к&nbsp;восстановлению после отказа при уничтожении процесса&nbsp;&mdash; встроенные в&nbsp;Elixir функции, обеспечивающие высокую горизонтальную масштабируемость.</p>
<h3>Системы с&nbsp;высоким уровнем доступности</h3>

<p>Отказоустойчивость и&nbsp;горячая замена кода&nbsp;&mdash; то, что отлично реализовано в&nbsp;Elixir и&nbsp;что облегчает развёртывание на&nbsp;нём высокодоступных систем.</p>
