<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" >
    <form action="//wunsh.us14.list-manage.com/subscribe/post?u=c81ca3d4693f62db7f7f67c71&amp;id=a192e2dfef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="input-group main-email-form">
            <input type="email" value="" name="EMAIL" class="input-group-field large" id="mce-EMAIL" placeholder="Твоя почта" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c81ca3d4693f62db7f7f67c71_a192e2dfef" tabindex="-1" value=""></div>

            <div class="input-group-button">
                <input type="submit" value="Я с вами" name="subscribe" id="mc-embedded-subscribe" class="button large">
            </div>
        </div>
        <p class="text-center"><i>Обязательно подтверди почту, перейдя по ссылке в письме, иначе мы не сможем делиться с тобой новыми статьями и событиями из жизни сообщества.<br>Надоедать точно не будем!</i></p>

    </form>
</div>
<!--End mc_embed_signup-->
