---
layout: default
---

{% assign author = site.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="article__header post-title text-center" itemprop="name headline">
      {{ page.title }}
      <small>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% include date.html %}
        </time>
      </small>
    </h1>

    <div class="row">
        <div class="large-10 large-offset-1 columns">
            <div class="article__information">
                <small itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {% if page.source_url %}
                        Оригинальный текст – <a href="{{ page.source_url }}">{{ page.source_author }}</a><br>
                        Над переводом работал{% if author.gender == "female" %}а{% endif %} <span itemprop="name">{{ author.name }}</span>
                    {% elsif author %}
                        Автор &mdash; <span itemprop="name">{{ author.name }}</span>
                    {% endif %}
                </small>
            </div>
        </div>
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
     <div class="row">
       <div class="large-10 large-offset-1 columns">
           {{ content }}
       </div>
    </div>
  </div>

</article>
